[AWS]
; Optional access key. If not specified, then defaults to Boto's methods,
; namely using the environment variables of the same names
;AWS_ACCESS_KEY_ID=
;AWS_SECRET_ACCESS_KEY=

[Notification]
; Where to send notifications
email_to = 
email_from = 
email_subject = 
pushover = 
pushover_appkey = 
; Uses Python's string.format(), so you could do some fancy formatting if you wanted
template = Hello\nThe following buckets have no files modified in the last {age} days (since {since}):\n{failedbuckets}\nRegards,\nBackup-Bucket-Check

[Buckets]
; Comma-separated list of buckets to ignore (exclude).
; Optionally, if include= is given, then only those buckets are checked
;exclude = 
;include = 
age = 7	; Threshold, in days (required)

; Advanced: Merge the following values into Boto's configuration
;[Boto]
;debug = 2
;is_secure = False
